@media (max-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: rgb(32, 134, 143);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.10em;
  padding: 1rem;
}

a:hover {
  background-color: black;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 20%;
}

img {
  width: 200%;
}

.content {
  top: 10%;
  width: 100%;
  height: 90%;
  left: 0%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

h1 {
  font-size: 3rem;
}

.content:hover {
  opacity: 1;
}

h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

p {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

span {
  color: rgb(34, 149, 159);
  text-align: center;
}

#welcome-section > p {
  color: white;
  font-size: 80%;
  font-weight: 50;
  padding-left: 5%;
  padding-right: 50%;
  padding-bottom: 0%;
  padding-top: 1.5rem;
}

.projects {
  margin: 0;
  padding: 8rem 2rem;
  text-align: center;
  background-color: black;
}

.project-img {
  height: calc(80% - 4.8rem);
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 30px 100px rgb(24, 117, 126);
  border-radius: 20%;
}

.project-tile {
  color: white;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 2rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contact h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 70%;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(144, 219, 227);
  background: rgb(7, 19, 20);
  border-radius: 2rem;
  border: 2px solid rgb(71, 148, 154);
  margin: 1.2rem 0;
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  background-color: rgb(71, 148, 154);
}
